.day {
    --body-bg: #F8F8F8;
    --card-bg: #fff;
    --default-color: #000;
    --default-color-300: #333;
    --app-logo: url("./assets/itpark.svg");
    --gradient-success: linear-gradient(180deg, #77C205 0%, #B3DF07 100%);
    --gradient-pink: linear-gradient(180deg, #8C5EF8 0%, #BD80E0 100%);
    --chart-color: #333;
    --omuc-color: #1E6A96;
    --omuc-one-color: #00A1FF;
    --omuc-opacity: 0.3;
}

.night {
    --body-bg: #132138;
    --card-bg: #24345F;
    --default-color: #fff;
    --default-color-300: #ccc;
    --app-logo: url("./assets/it-park.svg");
    --gradient-success: linear-gradient(90deg, #77C205 0%, #B3DF07 100%);
    --gradient-pink: linear-gradient(90deg, #8C5EF8 0%, #BD80E0 100%);
    --chart-color: #fff;
    --omuc-color: #2785bc;
    --omuc-one-color: #5ac2ff;
    --omuc-opacity: 0.5;
}